<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>BaBoedoeh Booking Management{% block title %}{% endblock %}</title>

<!-- main JS libs -->
<script src="{{ asset('js/libs/modernizr.min.js') }}"></script>
<script src="{{ asset('js/libs/jquery-1.10.0.js') }}"></script>
<script src="{{ asset('js/libs/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/libs/bootstrap.min.js') }}"></script>

<link href="{{ asset('css/prettyPhoto.css') }}" rel="stylesheet">
<script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>

<link href="{{ asset('css/playSlider.css') }}" media="screen" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{ asset('js/playSlider.js') }}"></script>

<script src="{{ asset('js/jquery.carouFredSel-6.2.1-packed.js') }}"></script>

<!-- Style CSS -->
<link href="{{ asset('css/bootstrap.css') }}" media="screen" rel="stylesheet">
<link href="{{ asset('css/styleVanilla.css') }}" media="screen" rel="stylesheet">

{% block stylesheets %}{% endblock %}

<!-- scripts -->
<script src="{{ asset('js/general.js') }}"></script>

<!-- Include all needed stylesheets and scripts here -->
<link href="{{ asset('css/style.css') }}" media="screen" rel="stylesheet">

<!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
<!--[if gte IE 9]>
<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>

<body>
<div class="container">

    <!-- content -->
    <div class="content " role="main">
        <!-- row -->
        <div class="row">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	        <div class="row">
	            <div class="col-lg-12">

	                <!-- Website Menu -->
	                {% include '::menu.html.twig' %}
                <!--/ Website Menu -->
	            </div>
	        </div>
            {% endif %}
        </div>
        <p> </p>
    		{% block body %}{% endblock %}
    		{% block javascripts %}{% endblock %}
        </div>
        <!--/ container -->
    </div>
</body>
</html>
