<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>BaBoedoeh Booking Management{% block title %}{% endblock %}</title>

<!-- main JS libs -->
<script src="{{ asset('js/libs/modernizr.min.js') }}"></script>
<script src="{{ asset('js/libs/jquery-1.10.0.js') }}"></script>
<script src="{{ asset('js/libs/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/libs/bootstrap.min.js') }}"></script>

<!-- Style CSS -->
<link href="{{ asset('css/bootstrap.css') }}" media="screen" rel="stylesheet">
<link href="{{ asset('css/styleVanilla.css') }}" media="screen" rel="stylesheet">

{% block stylesheets %}{% endblock %}

<!-- scripts -->
<script src="{{ asset('js/general.js') }}"></script>

<!-- Include all needed stylesheets and scripts here -->

<!--[if lt IE 9]><script src="js/respond.min.js"></script><![endif]-->
<!--[if gte IE 9]>
<style type="text/css">
    .gradient {filter: none !important;}
</style>
<![endif]-->
</head>

<body>
    <div class="body_wrap">
        <div class="container" style="margin-top:30px;">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	        <div class="row">
	            <div class="col-lg-12">

	                <!-- Website Menu -->
	                <div id="topmenu">
	                    <ul class="dropdown clearfix gradient">
	                        <li class="menu-level-0"><a href="#"><span>Home</span></a></li>
	                        <li class="menu-level-0"><a href="#"><span>Administration</span></a>
								<ul class="submenu-1">
	                                <li class="menu-level-1"><a href="{{ path('users') }}">Users</a></li>
	                                <li class="menu-level-1"><a href="#">Groups</a></li>
	                                <li class="menu-level-1"><a href="#">Bungalows</a></li>
	                                <li class="menu-level-1"><a href="#">Booking websites</a></li>
	                            </ul>
	                        </li>
	                        <li class="menu-level-0"><a href="#"><span>Dashboard</span></a></li>
	                        <li class="menu-level-0"><a href="#"><span>Booking</span></a>
	                            <ul class="submenu-1">
	                                <li class="menu-level-1"><a href="#">Guests</a></li>
	                                <li class="menu-level-1"><a href="#">Bungalows</a></li>             
	                            </ul>
	                        </li>
	                        <li class="menu-level-0"><a href="#"><span>{{ app.user.username }}</span></a>
	                            <ul class="submenu-1">
	                                <li class="menu-level-1"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans }}</a></li>
	                                    <ul class="submenu-2">
	                                        <li class="menu-level-2"><a href="#">Gallery images</a></li>
	                                    </ul>
	                                </li>
	                            </ul>
	                        </li>
	                    </ul>
	                </div>
                <!--/ Website Menu -->
	            </div>
	        </div>
            {% endif %}
        </div>
        <p> </p>
    		{% block body %}{% endblock %}
    		{% block javascripts %}{% endblock %}
        </div>
        <!--/ container -->
    </div>
</body>
</html>