{% extends '::base.html.twig' %}

{% block body %}


<script>
    jQuery(document).ready(function($) {

        $('#carouFredsel-2').carouFredSel({
            next : "#carousel-next-2",
            prev : "#carousel-prev-2",
            auto: false,
            scroll: {items : 1}
        });

    $(window).resize(function() {

        $('#carouFredsel-2').carouFredSel({
            next : "#carousel-next-2",
            prev : "#carousel-prev-2",
            auto: false,
            scroll: {items : 1}
        });

    })
    });
</script>

<div class="row">
	<div class="col-sm-6 col-sm-offset-1">

        <!-- post comments -->
        <div class="comment-list styled clearfix" id="comments">
            <ol>
                <li class="comment">
                    <div class="comment-body">
                        <div class="comment-arrow"></div>
                        <div class="comment-avatar">
                            <div class="avatar"><img src="{{ asset('images/pictures/etienne.jpeg') }}" alt="avatar" /></div>
                        </div>
                        <div class="comment-text">
                            <div class="comment-author clearfix">
                                <a href="#" class="link-author">BaBoedoeh Boy</a>
                            </div>
                            <div class="comment-entry">
                                Afeter travelling in Asia and having a very special experience in Bali, i decided to open some bungalows and a restaurant in the small village of Seraya
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
            </ol>
        </div>
	</div>

    <div class="col-sm-12 col-md-8">
        <!-- Carousel -->
        <div class="carouFredsel style2">
            <div class="inner">
                <ul id="carouFredsel-2">
                    <li>
                        <div class="carousel-title"><p>A dreamland beach</p></div>
                        <div class="carousel-image"><a href="{{ asset('images/pictures/crazyView.jpg') }}') }}" data-rel="prettyPhoto" title="Brave"><img src="{{ asset('images/pictures/crazyView.jpg') }}" alt="" /></a></div>
                    </li>
                    <li>
                        <div class="carousel-title"><p>Anick during a ceremony</p></div>
                        <div class="carousel-image"><a href="{{ asset('images/pictures/anick.jpg') }}" data-rel="prettyPhoto" title="Surf up"><img src="{{ asset('images/pictures/anick.jpg') }}" alt="" /></a></div>
                    </li>
                    <li>
                        <div class="carousel-title"><p>Rina during a ceremony</p></div>
                        <div class="carousel-image"><a href="{{ asset('images/pictures/rina.jpg') }}" data-rel="prettyPhoto" title="Wall-e"><img src="{{ asset('images/pictures/rina.jpg') }}" alt="" /></a></div>
                    </li>
                    <li>
                        <div class="carousel-title"><p></p></div>
                        <div class="carousel-image"><a href="{{ asset('images/pictures/group.jpg') }}" data-rel="prettyPhoto" title="Brave"><img src="{{ asset('images/pictures/group') }}" alt="" /></a></div>
                    </li>
                    <li>
                        <div class="carousel-title"><p></p></div>
                        <div class="carousel-image"><a href="{{ asset('images/pictures/tirta.jpg') }}" data-rel="prettyPhoto" title="Brave"><img src="{{ asset('images/pictures/tirta.jpg') }}" alt="" /></a></div>
                    </li>
                    <li>
                        <div class="carousel-title"><p></p></div>
                        <div class="carousel-image"><a href="{{ asset('images/pictures/riceField.jpg') }}" data-rel="prettyPhoto" title="Surf up"><img src="{{ asset('images/pictures/riceField.jpg') }}" alt="" /></a></div>
                    </li>
                </ul>
                <a id="carousel-prev-2" class="prev" href="#">prev</a>
                <a id="carousel-next-2" class="next" href="#">next</a>
            </div>
        </div>
        <!--/ Carousel -->
    </div>
</div>

{% endblock %}
