{% extends 'FOSUserBundle::layout.html.twig' %}

{% block title %} - login {% endblock %}

{% block javascript %}<script src="{{ asset('js/jquery.customInput.js') }}"></script>{% endblock %}

{% block body %}

<div class="content special_page" role="main">
    <!-- row -->
    <div class="row"><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    </div>
        <div class="col-sm-4 col-sm-offset-4">
            <div class="widget-container widget_login styled boxed with-ribbon">

                <div class="ribbon"><span>{{ 'Connexion'|trans }}</span></div>
                <div class="inner" style="padding-top:70px;">
                    {% if error is not empty %}<div class="bg-danger">{{ error }}</div>{% endif %}
                    <form action="{{ path('fos_user_security_check') }}" method="post" class="loginform">
                        <div class="field_text">
                            <label for="user_login" class="label_title">{{ 'Email'|trans }}</label>
                            <input type="text" name="_username" id="user_login" value="{{ last_username }}" placeholder="{{ 'Email'|trans }}" />
                            <span class="input_icon input_email"></span>
                        </div>
                        <div class="field_text">
                            <label for="user_pass" class="label_title">{{ 'Mot de passe'|trans }}</label>
                            <input type="password" name="_password" id="user_pass" value="" placeholder="{{ 'Mot de passe'|trans }}" />
                            <span class="input_icon input_pass"></span>
                        </div>
                        <div class="rowRemember clearfix">
                            <div class="forgetmenot input_styled checklist">
                                <div class="rowCheckbox checkbox-middle"><input type="checkbox" name="_remember_me" id="remember" value="3" checked><label for="remember">{{ 'Se souvenir de moi'|trans }}</label></div>
                            </div>
                            <span class="forget_password"><a href="#">{{ 'Mot de passe oublié ?'|trans }}</a></span>
                        </div>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="rowSubmit">
                            <span class="btn btn-hover"><input type="submit" name="login-submit" id="login-submit" value="{{ 'Connexion'|trans }}" /></span>
                        </div>
                    </form>
                </div>
            </div>
            <!--/ login widget -->
        </div>
    </div>
</div>
{% endblock %}
