{% extends '::base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="widget-container styled with-ribbon">
            <div class="ribbon"><span>Bungalow</span></div>
            <div class="inner">
                <table class="record_properties">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <td>{{ bungalow.name }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ bungalow.description }}</td>
                        </tr>
                        <tr>
                            <th>Persons</th>
                            <td>{{ bungalow.persons }}</td>
                        </tr>
                    </tbody>
                </table>

                <ul class="record_actions">
                    <li>
                        <a href="{{ path('bungalow') }}" class="btn left"><span>Back to the list</span></a>
                    </li>
                    <li>
                        <a href="{{ path('bungalow_edit', { 'id': bungalow.id }) }}" class="btn right"><span>Edit</span>
                        </a>
                    </li>
                    <li>{{ form(delete_form) }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
