{% extends '::base.html.twig' %}

{% block body -%}
    
    <div class="container">
        <!--content-->
        <div class="content" role="main">

            <div class="row"><div class="col-sm-12"><div class="ribbon"><span>{{ 'User list'|trans }}</span></div></div></div>
            
            <table class="records_list">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td><a href="{{ path('user_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                        <td>
                        <ul>
                            <li>
                                <a href="{{ path('user_show', { 'id': entity.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('user_edit', { 'id': entity.id }) }}">edit</a>
                            </li>
                        </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            <a href="{{ path('user_new') }}" class="btn">
                Create a new entry
            </a>
        </div>
    </div>
    {% endblock %}
